@{
    ViewData["Title"] = "Главная страница";
}
<div class="cover-container">
    <h1>Веб сервис построенный по принципу REST Api.</h1>
    <h1>Реализует функции просмотра и редактирования договоров в банке.</h1>
    <p class="lead">Использованные технологии: MS SQL Server, ASP.NET, Entity Framework, Identity Framework. 
    Использует архитектурный паттерн MVC.</p>
</div>
