@using Banking_Operations.Data
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Client> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banking_Operations</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <Header>
       <span class="logo">
           Bank operations
       </span>
       <nav>
            <form asp-controller="Home" asp-action="Index">
                <button>Главная</button>
            </form>
            <form asp-controller="Contacts" asp-action="Index">
                <button>Свяжитесь с нами!</button>
            </form>
           @if (!SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="Login">
                    <button>Войти</button>
                </form>
                <form asp-controller="Account" asp-action="Register">
                    <button>Зарегестрироваться</button>
                </form>
            }
            else
            {
                <form asp-controller="Banking" asp-action="Index">
                    <button>Банковские услуги</button>
                </form>
                <form asp-controller="Account" asp-action="Logout">
                    <button>Выйти</button>
                </form>
            }
        </nav>
   </Header>
   <main>
       @RenderBody()
   </main>

   <footer>
       Все права защищены.
   </footer>
</body>
</html>
