<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banking_Operations</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <Header>
       <span class="logo">
           Bank operations
       </span>
       <nav>
           <a href="/">Главная</a>
           <a href="/Contacts">Обратная связь</a>
           <a href="/Account/Login">Войти</a>
       </nav>
   </Header>
   <main>
       @RenderBody()
   </main>

   <footer>
       Все права защищены.
   </footer>
</body>
</html>
