@using Banking_Operations.Models;
@model RegisterModel;

<h1>Регистрация</h1>

@if (TempData["Error"] != null)
{
    <div>
        <span><b>Извините!</b> - @TempData["Error"]</span>
    </div>
}

<form method="post" asp-controller="Account" asp-action="Register">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword"/>
    <span asp-validation-for="ConfirmPassword"></span>

    <input type="submit" value="Отправить" />
</form>