@model BankingModel;

<h1>Редактирование</h1>
<div class="special">
    <div class="text-center">
        <form class="form-signin" method="post" asp-controller="Banking" asp-action="Edit">
            @if (TempData["Error"] != null)
            {
                <div>
                    <span><b>Извините!</b> - <font color="red">@TempData["Error"]</font></span>
                </div>
            }
            <input asp-for="BankServiceName" class="form-control my-3" placeholder="Название услуги" required autofocus>
            <span asp-validation-for="BankServiceName"></span>
            <input asp-for="TermOfRendering" type="date" class="form-control my-3" placeholder="Условия" required>
            <span asp-validation-for="TermOfRendering"></span>

            <select asp-for="ComissionType" class="form-select">
                <option selected value="50 р.">50 р.</option>
                <option value="100 р.">100 р.</option>
                <option value="1000 р.">1000 р.</option>
                <option value="10%">10%</option>
                <option value="15%">15%</option>
            </select>
            <span asp-validation-for="ComissionType"></span>

            <select asp-for="BankServiceState" class="form-select my-3">
                <option selected value="false">Не предоставляется</option>
                <option value="true">Предоставляется</option>
            </select>

            <input asp-for="Debt" type="number" class="form-control my-3" placeholder="Долг" required>
            <span asp-validation-for="Debt"></span>
            <input asp-for="ServiceID" type="hidden" class="form-control my-3">
            <input asp-for="ClientId" type="hidden" class="form-control my-3" disabled>
            <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Edit</button>
        </form>
    </div>
</div>
