@using Banking_Operations.Data;
@model IEnumerable<BankService>
<link rel="stylesheet" href="~/css/gridrows.css" asp-append-version="true" />
<h1>Сервисы для зарегистрированных пользователей</h1>

<form asp-controller="Banking" asp-action="Create">
    <button class="btn btn-outline-white my-2 my-sm-0">Выйти</button>
</form>

@foreach (var item in Model)
{
    <label>@item.BankServiceName</label>
    <div class="row mb-3">
        <div class="col-4 themed-grid-col text-white-5">@item.BankServiceName</div>
        <div class="col-4 themed-grid-col text-white-5">@item.BankServiceStatus</div>
        <div class="col-4 themed-grid-col text-white-5">
            <button>Пересмотр комиссии</button>
            <button>Погашение задолженности</button>
            <button>Смена статуса предоставления услуги</button>
            <button>Удалить</button>
        </div>
    </div>

}
